<main-title page="medic-appointments"></main-title>

<div class="jumbotron border border-secondar p-4">
  <p class="lead">Visualize e gerencie as suas consultas, como também seus prontuários, receitas e atestados.</p>

  <hr class="my-4">
  <div class="list-group  gap-3">
    <appointment-item role="customer"></appointment-item>
    <appointment-item role="customer"></appointment-item>
    <appointment-item role="customer"></appointment-item>
    <appointment-item role="customer"></appointment-item>
  </div>
</div>